.splide__track {
    overflow: hidden;
    position: relative;
    z-index: 0;
    width: 90%; 
    height: auto;
    border-radius: 40px;
    margin: 10px auto 0 auto; 
}

.splide__slide img {
    width: 100%; 
    height: auto;
    border-radius: 30px; 
}

.splide__slide {
    width: auto; 
    height: auto;
    overflow: hidden;
}
.dropdown{
    /* padding: 15px; */
    font-size: 18px;
    margin-left: 100px;
}
#position-select{
    width: 200px;
    height: 30px;
    font-size: 15px;
    font-family: serif;
    border-radius: 20px;
}

.slideshow__text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    z-index: 2; 
    text-align: left; 
}

.slideshow__button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #d6d0d0;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
}

.slideshow__text--top-left { 
    justify-content: flex-start; 
    align-items: flex-start; 
    text-align: left; 
}

.slideshow__text--top-center { 
    justify-content: flex-start; 
    align-items: center; 
    text-align: center; 
}

.slideshow__text--top-right { 
    justify-content: flex-start; 
    align-items: flex-end; 
    text-align: right; 
}
.slideshow__text--center-left {
     justify-content: center; 
     align-items: flex-start; 
     text-align: left; 
    }

.slideshow__text--center { 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}
.slideshow__text--center-right { 
    justify-content: center; 
    align-items: flex-end; 
    text-align: right; 
}
.slideshow__text--bottom-left { 
    justify-content: flex-end; 
    align-items: flex-start; 
    text-align: left; 
}
.slideshow__text--bottom-center { 
    justify-content: flex-end; 
    align-items: center; 
    text-align: center; 
}
.slideshow__text--bottom-right { 
    justify-content: flex-end; 
    align-items: flex-end; 
    text-align: right; 
}

.slideshow__title {
    border: 1px solid;
    background-color: rgb(235 210 210 / 30%);
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 15px;
    margin: 0 0 10px 0;
    display: flex;
}

.slideshow__description {
    margin: 10px 0;
    font-size: 30px;
    font-family: cursive;

}

.slideshow__button {
    display: inline-block;
    padding: 12px 20px;
    width: 80px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    margin-top: 10px;
}

.splide__arrows {
    position: absolute;
    bottom: 20px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.splide__arrow {
    background: #beb2b2;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    opacity: .5;
    padding: 0;
    z-index: 1;
}

.splide__arrow svg {
    fill: #f1e7e7;
    height: 1.2em;
    width: 1.2em;
}

.splide__arrow--prev {
    left: 1em;
    margin-left: 400px; 
}

.splide__arrow--next {
    right: 1em;
    margin-right: 400px; 
} 

.splide__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    z-index: 1;
}

.splide__pagination li {
    display: inline-block;
    line-height: 2;
    list-style-type: none;
    margin: 0 5px;
    pointer-events: auto;
    padding: 10px;
}

.splide__pagination__page {
    border: 0;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    opacity: .7;
    padding: 0;
    transition: transform .2s linear;
    width: 8px;
}

.splide__pagination__page.is-active {
    width: 16px; 
    height: 16px;
    background-color: #000; 
}
